<!DOCTYPE html>
<html>
   <head>
      <title>URL Shortener</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>
   <body>
      <div class="container">
        <h2 style="margin-top: 100px;">URL Shortener Project</h2>
        <form action="api/shorturl/new" method="POST">
          <label for="url_input">URL to be shortened</label>
          <input id="url_input" type="text" name="url" value="https://siddharthroy.netlify.app">
          <input type="submit" value="POST URL">
        </form>
        <h3>Example Usage:</h3>
          [this_project_url]/api/shorturl/3
        <h5>Where 3 is short from responded json</h5>
      </div>
      <div class="footer">
        <p>
          by <a href="https://siddharthroy.netlify.app/">Siddharth Roy</a>
        </p>
      </div>
   </body>
</html>